<div
    class="w-60 relative h-48 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-3">
    <h5 class="mb-2 text-1xl font-bold tracking-tight text-gray-900 dark:text-white"> {{ colecao.name }}</h5>

    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ colecao.block }}</p>

    <div class="absolute bottom-0 right-0 ... p-2"><span
            class="relative bottom-0 left-0  inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            {{ colecao.releaseDate }}
        </span>
    </div>

</div>